################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Microsoft.FoodTruckFinder/obj
/Microsoft.FoodTruckFinder/bin
/Microsoft.FoodTruckFinder/.vs/Microsoft.FoodTruckFinder
/Microsoft.FoodTruckFinder.Tests/bin
/Microsoft.FoodTruckFinder.Tests/obj
/Microsoft.FoodTruckFinder.Installer/Debug
